<div id="order-head">
    <div id="order-head-text">
        <h1>Things we have served you</h1>
    </div>
    <img src="/img/back7.jpg" alt="" />
</div>
<%if(orders && orders.length > 0){%>
<div id="orders-summary-con">
    <div id="orders-summary-head">
        <i class="ri-shopping-cart-2-line"></i>
        <h1>order summary</h1>
    </div>
    <%if(messages.success){%>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js"></script>
        <script>
            iziToast.success({
                title: "Success",
                message: "<%= messages.success%>",
                position: "topRight",
                timeout: 2000,
            });
        </script>
        <%}%>
            <table id="order-table">
                <thead>
                    <tr>
                        <th class="order-table-headers">Orders</th>
                        <th class="order-table-headers">Payment</th>
                        <th class="order-table-headers">Address</th>
                        <th class="order-table-headers">Status</th>
                        <th class="order-table-headers">Amount</th>
                        <th class="order-table-headers">Placed At</th>
                    </tr>
                </thead>
                <tbody id="order-table-body">
                    <%orders.forEach(order =>{%>
                        <%let sum=0%>    
                        <tr>
                            <td class="order-table-ele">
                                <h6 class="separate_order">O-ID -- <a href="/orders/<%=order.id%>"><%=order.id%></a></h6>
                                <h6>#<%=order.orderNo%></h6>
                                <div id="all-orders">
                                    <%order.items.forEach(s_order=>{%>
                                        <p><%=s_order.name%> - <%=s_order.qty%> - ₹<%=s_order.price%></p>
                                        <%sum+=s_order.price %>
                                    <%})%>
                                    <p>Total - ₹<%=sum%></p>
                                </div>
                            </td>
                            <td class="order-table-ele order-table-address"><%=order.payType%> <br> delivery Charges - ₹39 </td>
                            <td class="order-table-ele order-table-address"><%=order.address%></td>
                            <td class="order-table-ele order-table-status"><%=order.status%></td>
                            <td class="order-table-ele">₹<%=sum+39%></td>
                            <td class="order-table-ele"><%=moment(order.date).format('llll')%></td>
                        </tr>
                    <%})%>
                </tbody>
            </table>
        <%} else {%>
            <div id="cart-mid">
                <div id="cart-mid-img">
                    <img src="/img/orderpage.png" alt="" />
                </div>
                <div id="cart-mid-text">
                    <h4>He is watching you!</h4>
                    <h6>Order Something fast!!!</h6>
                    <p>Take a deep dive in our fully Stacked <a id="orderpageMenubtn" href="/menu">Menu</a></p>
                </div>
            </div>
        <%}%>
</div>